/* body 
font-family: 'Open Sans', sans-serif;
font-family: 'Rock Salt', cursive; */


.d-flex {
    float: right;
}

.nav-item {
    align-items: center;
}

.bg-image {
    width: 100%;
    height: 600px;
    /* background-repeat: no-repeat; */
    background-image: url('../images/Turtle.jpg');
    background-size: cover;
    padding: 0;
}